@use "partials/header";
@use "partials/footer";
@use "partials/variables";

@import "~bootstrap/scss/bootstrap";


.grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;

    .card {
        background-color: #ddd;
        padding: 10px;
    }
}

.comics-wrapper {
    background-color: #1c1c1c;
}




